<div class="nexmoe-drawer mdui-drawer" id="drawer">
    <div class="nexmoe-avatar mdui-ripple">
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>">
            <img src="<%= theme.avatar %>" alt="<%= config.author || config.title %>" alt="<%= config.author || config.title %>">
        </a>
    </div>
    <div class="nexmoe-count">
        <div><span><%= __('count.articles') %></span><%= site.posts.length %></div>
        <div><span><%= __('count.tags') %></span><%= site.tags.length %></div>
        <div><span><%= __('count.categories') %></span><%= site.categories.length %></div>
    </div>
    
    <% theme.widgets.forEach(function(widget){ %>
        <% if(widget.enable){ %>
        <%- partial('_widget/' + widget.name, {options: widget.options}) %>
    <% }}) %>
   
</div><!-- .nexmoe-drawer -->